services:
  payload:
    image: node:22
    ports:
      - '3000:3000'
    volumes:
      - .:/home/node/app
    working_dir: /home/node/app/
    command: >
      sh -c "
      corepack enable && 
      corepack prepare pnpm@latest --activate &&
      pnpm config set store-dir /pnpm/store &&
      pnpm install &&
      pnpm run dev"
    env_file:
      - .env

  mongo:
    image: mongo:latest
    ports:
      - 27017:27017
    command:
      - --storageEngine=wiredTiger
    volumes:
      - ./.data/mongodb:/data/db
    logging:
      driver: none

  mongo-express:
    image: mongo-express
    restart: unless-stopped
    environment:
      - ME_CONFIG_MONGODB_URL=mongodb://mongo:27017/?authSource=admin
      - ME_CONFIG_BASICAUTH_ENABLED=false
    ports:
      - 8081:8081

  mailhog:
    image: mailhog/mailhog:latest
    platform: linux/amd64
    ports:
      - 1025:1025
      - 8025:8025

  # postgres:
  #   restart: always
  #   image: postgres:latest
  #   volumes:
  #     - ./data/postgres:/var/lib/postgresql/data
  #   ports:
  #     - 5432:5432
